@import "tailwindcss";

@keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
@keyframes float {
    0%, 100% {
      transform: translatex(0px);
    }
    50% {
      transform: translatex(-10px);
    }
  }
  
  .animate-rote {
    animation: float 3s ease-in-out infinite;
  }

  
  
